/* header css here */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(0, 0, 0, 0.35);
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  /* border: 2px solid rgb(255, 255, 255); */
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.header {
  width: 90%;
  margin: 0 auto;
  z-index: 50;
  position: fixed;
  top: 0;
}

nav li {
  position: relative;
  padding-top: 12px;
}

nav a::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 0%;
  height: 2px;
  background: #f5f5f0;
  transition: all 0.5s ease-in-out;
}

nav a:hover::before {
  width: 100%;
}

.arrow {
  animation: bouncearrow 1.5s infinite ease;
  position: relative;
}

@keyframes bouncearrow {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

/* section starts here----------- */

.backgroundImg {
  background-color: #075f04;
  background-image: url("/darkCloth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
}

.section {
  display: grid;
  grid-column: 2;
  justify-content: center;
  align-items: center;
}

.person {
  position: relative;
  width: 360px;
  height: 450px;
  background-color: #fff;
  display: flex;
  top: 20px;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 25px;
  cursor: pointer;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-inline: auto;
}

.person__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  position: relative;
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;
  /* border: 5px solid rgba(0, 0, 0, 0.1); */
}

.avatar .profile-image {
  width: 100vw;
  height: 100%;
  object-fit: contain;
  /* border-radius: 50%; */
}

.person__details {
  font-size: 28px;
  font-weight: 500;
}

.person__role {
  color: #6d6d6d;
}

.card-footer {
  width: 85%;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.social-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 23px;
  margin: 0 20px;
}

.about-me h2 {
  font-size: 32px;
  font-weight: 600;
}
